body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.top_block {
    background: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
}

.middle_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.middle_chelf {
    background: blue;
    color: white;
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bottom_block{
    background: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
}